<div class="footer-container">
  <div class="footer-content">
    <p>
      <strong>SECRÉTARIAT EXÉCUTIF :</strong> 03 BP 7049 Ouagadougou 03, Burkina Faso - 
      Tél (+226) 25 49 96 00 - Courriel : administration.se@cilss.int - 
      https://www.cilss.int
    </p>

    <p>
      <strong>CENTRE AGRHYMET CCR-AOS :</strong> BP 11011 Niamey, Niger - 
      Tél (+227) 20 31 53 16 / 20 31 54 36 - 
      Courriel : administration.agrhymet@cilss.int - 
      https://agrhymet.cilss.int
    </p>

    <p>
      <strong>INSTITUT DU SAHEL :</strong> BP 1530 Bamako, Mali - 
      Tél (+223) 20.22.21.48 / 20.22.30.43 / 20.22.47.06
    </p>
  </div>
</div>