.footer-container {
  background-color: #2a8f3a; /* Vert AGRHYMET */
  color: white;
  padding: 15px 20px;
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
  line-height: 1.4;
}